.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  color:#5585b5;
  font-size:35px;
}

.SearchWeather body {
  margin: auto;
}

ul {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #5585b5;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(
    89deg,
    rgb(253, 220, 155) 26.2%,
    rgb(255, 215, 165) 48.5%
  );  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  margin: 0 auto;
  display: block;
  background: lightgray;
  color: #113f67;
  padding: 5px;
  border-radius: 8px 10px;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
